@model Lexicon_LMS.Models.ViewModels.TeacherPageViewModel
<h3>Teacher</h3>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row mt-5 mb-5">
    <div class="col-sm-12">
        <a asp-controller="Courses" asp-action="Create" class="btn btn-primary mr-3">Add Course</a>
    </div>
    <h5>Ongoing Courses</h5>
    <div class="col-sm-6">
        <ul>
            @if (Model.OnGoingCourses != null)
            {


                @foreach (var item in Model.OnGoingCourses)
                {
                    <li>
                        <h5> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>
                    </li>
                }
            }

    </ul>
    </div>
</div>