
<h3>Teacher</h3>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row mt-5 mb-5">
    <div class="col-sm-12">
        <a asp-controller="Courses" asp-action="Create" class="btn btn-primary mr-3">Add Course</a>
    </div>
</div>