@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="User" asp-controller="User" asp-action="Start">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Courses" asp-action="Details" asp-route-Id="@UserManager.GetUserAsync(User).Result.CourseId">Course</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Courses" asp-action="ShowPaticipants" asp-route-courseId="@UserManager.GetUserAsync(User).Result.CourseId" >Participents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Documents</a>
    </li>
</ul>


