
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Start">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
</ul>


