

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="User" asp-controller="User" asp-action="Start">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="Users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Documents</a>
    </li>
</ul>

