@model ICollection<AssignmentComments>

@foreach (var item in Model)
{
    <li class="list-group-item">
        <div>
            <span class="font-weight-bold">From @item.User.UserName</span>
            <span class="float-right font-weight-bold">Date @item.Date.ToShortDateString() </span>
        </div>
        <div class="mt-3">
            @item.Comments
        </div>
    </li>
}