
@{
    ViewData["Title"] = "StartPage";
}

<h1>Welcome @User.Identity.Name </h1>

@if (User.IsInRole("Teacher"))
{
    <partial name="~/Views/Teacher/TeacherStartPartial.cshtml" />

}
else if (User.IsInRole("Student"))
{
    <partial name="~/Views/Student/StudentStartPartial.cshtml" />
}







